<div class="login">
  <div [formGroup]="form" class="login-form">
    <h3>Login</h3>

    <div class="form-control">
      <label>Email:</label>
      <input formControlName="email" placeholder="Enter your email" />
    </div>

    <div class="form-control">
      <label>Password:</label>
      <input
        formControlName="password"
        type="password"
        placeholder="Enter your password"
      />
    </div>
  </div>

  <div class="form-actions">
    <button class="btn" routerLink="/home">Home</button>

    <button (click)="onLogin()" class="btn">Login</button>
  </div>
</div>
